<div class="site-wrapper">

    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Hype</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#login">Login</a></li>
                            <li><a href="#register">Register</a></li>
                            <li class="active"><a href="#about">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="well">
                <h1>About Hype</h1>
                <hr/>

                <p style="color: black;">We are a small team of students from CS4550 - Web Development at Northeastern
                    University. This project
                    was built as part of the course, but we hope it has real world applications for users.</p>

            </div>
        </div>
    </div>
</div>